[Desktop Entry]
Name=Finance Tracker
Comment=Open personal finance CLI
Exec=gnome-terminal -- bash -ic '"/home/dan-alencar/Documents/GitHub/Finance Tracker/finance_tracker.sh"; exec bash'
Path=/home/dan-alencar/Documents/GitHub/Finance Tracker
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Utility;

